* {
    margin: 0;
    padding: 0;
}
main {
    background-color: #f0f2f5;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 980px;
    margin: 0 auto;
}

.left-section {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: left;
    margin-left: auto;
    margin-right: 85px;
}

.left-section img {
    height: 110px;
}

.left-section h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    text-wrap: wrap;
    padding-left: 30px;
    width: 500px;
    margin-top: -12px;
    color: #1c1e21;
}

.right-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: auto;
}

.right-section {
    background-color: white;
    border-radius: 7px;
    margin-top: -40px;
    padding: 17px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px rgba(0, 0, 0, 0.05);
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;

}

.right-section input {
    width: 324px;
    height: 30px;
    padding: 10px 12px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.right-section input::placeholder {
    font-size: 16px;
    color: rgb(161, 161, 161);
    font-weight: normal;
}

.login-btn {
    background-color: #0866ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 32px;
    width: 347px;
    margin-top: 10px;
    cursor: pointer;
}

.fpass {
    margin-top: 20px;
    border: none;
    background-color: transparent;
    color: #0866ff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.fpass:hover {
    text-decoration: underline;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.create-new-account-btn {
    background-color: #42b72a;
    color: white;
    border: none;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
}

.brand-tag {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.brand-tag span {
    font-weight: bold;
    cursor: pointer;
}

.brand-tag span:hover {
    text-decoration: underline;
}

/* Footer Styles */
.footer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.languages {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    width: 72vw;
}

.languages ul {
    display: flex;
}

.languages ul li {
    list-style: none;
    padding: 0px 6px;
}

.current-lan {
    color: #737373;
}

.other-lan {
    cursor: pointer;
    color: #8a8d91;
}

.other-lan:hover {
    text-decoration: underline;
}

.languages button {
    padding: 0px 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    color: #8a8d91;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    width: 72vw;
    margin-top: 10px;
    margin-bottom: 30px;
}

.options ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    line-height: 25px;
    margin-bottom: 30px;
}

.options ul li {
    padding: 0px 8px;
    text-wrap: nowrap;
    font-size: 14px;
    color: #8a8d91;
    cursor: pointer;
}

.options ul li:hover {
    text-decoration: underline;
}

.options span {
    color: #8a8d91;
    padding-left: 8px;
}

@media (max-width: 1075px) {
    .left-section h3 {
        font-size: 24px;
        line-height: 28px;
        width: auto;
    }

    .right-main-container {
        float: right;
    }

    .left-section {
        margin-right: 40px;
    }

    .main {
        height: 496px;
        margin: 0 40px;
        width: auto;
    }
}

@media (max-width: 905px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .left-section {
        padding: 70px 0px;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        margin: 0px auto;
    }

    .left-section h3 {
        width: 400px;
        text-align: center;
    }

    .right-main-container {
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    
    .right-section {
        background-color: white;
        border-radius: 7px;
        margin-top: -20px;
        padding: 17px;
    }

    main {
        padding-bottom: 180px;
    }

    .footer {
        margin: 0px auto;
    }

}